{% load static %}
{% include 'header.html' %}
<div class="chat-content">
    <div class="chat-container">
        <div class="messages">
            {% for message in messages %}
                {% if message.sender.username == other_user.username %}
                    <div class="received-container">
                        <div class="received">
                            <p class="message">{{message.content}}</p>
                            <p class="timestamp">{{ message.timestamp|date:"F j, Y" }} {{ message.timestamp|time:"g:i A" }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="sent-container">
                        <div class="sent">
                            <p class="message">{{message.content}}</p>
                            <p class="timestamp">{{ message.timestamp|date:"F j, Y" }} {{ message.timestamp|time:"g:i A" }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="message-text-container">
        <form class="message-form"action="{% url 'send-message' %}" method="post">
            {% csrf_token %}
            <input class="message-text-box" type="text" name="message-text" placeholder="Enter message to Send.">
            <input type="hidden" name="receiver-name" value="{{ other_user.username }}">
            <button class="send-message-button" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </form>
    </div>
</div>
{% include 'footer.html' %}